.color-slide
{

  background-image: linear-gradient(
    -150deg,
    #231557 0%,
    #44107a 29%,
    #5D5CD6  67%,
    #5D5CD6 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;

}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.bounce-delayed {
  animation: bounce 3s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--index));
  --index: 1;
}