@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
  width: 3px;
}

::-webkit-scrollbar-thumb{
  background-color: #5D5CD6;
  
}

